@model TechJobs.Models.Job

<table class="job-listing">
    <tr><td>Name:   @Model.Name</td></tr>
    <tr><td>Employer:   @Model.Employer</td></tr>
    <tr><td>Location:   @Model.Location</td></tr>
    <tr><td>Core Competency:    @Model.CoreCompetency</td></tr>
    <tr><td>Position Type:   @Model.PositionType</td></tr>
</table>
